        html {
            user-select: none;
        }

        .canvas {
            background-color: #eee;
            cursor: crosshair;
        }

        .button-select {
            background-image: url("media/observer_ward.png");
            background-size: 100%;
            background-repeat: round;
            width: 80px;
            height: 50px;
            border-radius: 5px;
            border: none;
            transition: all 350ms ease;
        }

        .button-select:hover {
            box-shadow: inset 0 0 0 2px rgb(255, 255, 255)
        }


        #areamode {
            background: url("media/midas.png");
            background-repeat: round;
        }

        #speedmode {
            background: url("media/boot.png");
            background-repeat: round;
        }

        #erasemode {
            background: url("media/eraser.png");
            background-repeat: round;
        }

        /*TODO tabs with tips */
        .tool-button {
            display: inline-block;
            width: 5.5em;
            height: 4.2em;
            border: none;
            border-radius: 10%;
            transition: all 350ms ease;
            margin: 5px;
        }

        .tool-button:hover {
            box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.556);
        }

        #tip {
            background-color: #000000af;
            border: #eee 1px solid;
            color: #eee;
            position: absolute;
            z-index: 2;
            display: none;
            width: max-content;
            height: max-content;
            text-align: center;
            padding: 3px;
        }

        input[type=range] {
            background: transparent;
            appearance: none;
        }

        input[type=range]:focus {
            outline: none;
        }

        input[type=range]::-ms-track {
            width: 100%;
            cursor: pointer;
            background: transparent;
            border-color: transparent;
            color: transparent;
        }

        input[type=range]::-webkit-slider-runnable-track {
            background: rgb(95, 95, 95);
            height: 5px;
            margin: -10px 0 0 0;
            border-radius: 3px;
            -ms-appearance: none;
            -webkit-appearance: none;
            appearance: none;
        }

        input[type=range]::-moz-range-track {
            background: rgb(95, 95, 95);
            height: 5px;
            margin: -10px 0 0 0;
            border-radius: 3px;
            -ms-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }

        input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 25px;
            width: 25px;
            cursor: pointer;
            margin-top: -8px;
        }

        input[type=range]::-moz-range-thumb {
            -moz-appearance: none;
	    border: none;
            height: 25px;
            width: 25px;
            cursor: pointer;
        }

        input[type=range].ms-range::-webkit-slider-thumb {
            background-image: url("media/boot_icon.png");
            background-repeat: round;
            background-color: transparent;
        }

        input[type=range].ms-range::-moz-range-thumb {
            background-image: url("media/boot_icon.png");
            background-repeat: round;
            background-color: transparent;
        }

        input[type=range].clock-range::-webkit-slider-thumb {
            background-image: url("media/clock_icon.png");
            background-repeat: round;
            background-color: transparent;
        }

        input[type=range].clock-range::-moz-range-thumb {
            background-image: url("media/clock_icon.png");
            background-repeat: round;
            background-color: transparent;
        }
